<%= form_for(@customer) do |f| %>
  <div class="form-group">
  <%= f.label :family_name, "姓" %>
  <%= f.text_field :family_name, class: "form_control" %>
  </div>

  <div class="form-group">
  <%= f.label :given_name, "名" %>
  <%= f.text_field :given_name, class: "form_control" %>
  </div>

  <div class="form-group">
  <%= f.label :email, "電子メール" %>
  <%= f.text_field :email, class: "form_control" %>
  </div>

  <%= f.submit '登録する', class: "btn btn-primary" %>

<% end %>
